
  <div class="wrapper" id="wrapper">    
    <div  style="background-color: black;height: 100px;"></div>
        <div class="main-wraper"> 
            <div class="container">
                <div class="row">
                    <div class="col-12 col-print-12 px-0">
                        <div class="profile-box-left" id="profile_ripple"> 
                            <div class="zoo-profile-main-pic">
                                <img src="assets/img/users/user-4.png" alt="" height="100" class="rounded-circle d-block mx-auto">
                                <span class="zoo-user-chat">
                                    <i class="nc-icon nc-align-left"></i>
                                </span>
                            </div>
                            <div class="zoo-profile_user-detail">
                                <h5 class="zoo-user-name">MATHEW SEBASTIAN</h5> 
                                <b class="is-visible" style="color: azure;">Yoga Instructor</b>                                                       
                                
                            </div><!--end zoo-profile_user-detail-->

                            <ul class="list-unstyled personal-detail mx-auto">
                                <li>
                                    <i class="nc-icon nc-mobile"></i> 
                                    : +91 9747791871
                                </li>
                                <li class="mt-1">
                                    <i class="nc-icon nc-email-85 mt-2"></i> 
                                    : mathew1msk@gmail.com 
                                </li>
                            </ul><!--end personal-detail-->
                            
                           
                        </div><!--end profile-box-left --> 
                        <div class="profile-box-right">
                            <section class="section-md">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="header-title mb-3">About us !</h4>
                                        </div><!--end col-->
                                        <div class="col-sm-6 col-print-6">
                                            <h4 class="text-primary font-weight-bold">I'm MATHEW </h4>
                                            
                                            <p>My aim is to work for the enhancement and betterment of your enterprise. I aspire to work for your institution, which offers career growth and chances to improve our mission and vision reciprocally.
                                            </p>
                                        </div><!--end col-->
                                        <div class="col-sm-5 col-print-5 offset-lg-1 align-self-center">
                                            <p>
                                                <span class="personal-detail-title">Name</span>
                                                <span class="personal-detail-info">MATHEW SEBASTIAN</span>
                                            </p>
                                            <p>
                                                <span class="personal-detail-title">Date of birth</span>
                                                <span class="personal-detail-info">01.06.1970</span>
                                            </p>
                                            <p>
                                                <span class="personal-detail-title">Spoken Langages</span>
                                                <span class="personal-detail-info">English - Hindi - Malayalam-Tamil-Sanskrit</span>
                                            </p>
                                            <p>
                                                <span class="personal-detail-title">Nationality</span>
                                                <span class="personal-detail-info">India</span>
                                            </p>
                                            <p>
                                                <span class="personal-detail-title">Interest</span>
                                                <span class="personal-detail-info">Yoga, Dancing, Music</span>
                                            </p>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </div><!--end container-->
                            </section><!--end section-->
                
                            <section class="section-md">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="header-title mb-3">Education & Skills</h4>
                                        </div><!--end col-->
                                        <div class="col-sm-7 col-print-7">
                                            <div class="row">
                                                <div class="col-sm-6 col-print-6">
                                                    <div class="resume-icon" style="padding-top: 5px;">
                                                        <i class="nc-icon nc-box-2"></i>
                                                        <h5 class="mt-n2">Education</h5>
                                                    </div><!--end resume-icon--> 
                                                    <div class="timeline">
                                                        <div class="time-item">
                                                            <div class="item-info">
                                                                <div class="font-14">1987</div>
                                                                <h5 class="my-1 text-dark">PRE DEGREE</h5>
                                                                <p>Secondary Education</p>
                                                            </div>
                                                        </div><!--end time-item--> 
                                                        <div class="time-item">
                                                            <div class="item-info">
                                                                <div class="font-14"></div>
                                                                <h5 class="my-1 text-dark">KALAI KAVIRI -T.N</h5>
                                                                <p>DIPLOMA – VIOLIN,VOCAL, DANCE</p>
                                                            </div>
                                                        </div><!--end time-item--> 
                                                        <div class="time-item">
                                                            <div class="item-info">
                                                                <div class="font-14">1994-1995</div>
                                                                <h5 class="my-1 text-dark">BANGALORE UNIVERSITY</h5>
                                                                <p>DEGREE  -  BA PHILOSOPHY</p>
                                                            </div>
                                                        </div><!--end time-item--> 
                                                        <div class="time-item">
                                                            <div class="item-info">
                                                                <div class="font-14">2000</div>
                                                                <h5 class="my-1 text-dark">BHARATHIDASAN UNIVERSITY, TRICHI, T.N.</h5>
                                                                <p>BFA</p>
                                                            </div>
                                                        </div><!--end time-item--> 
                                                        <div class="time-item">
                                                            <div class="item-info">
                                                                <div class="font-14">2004</div>
                                                                <h5 class="my-1 text-dark">MFA	INDIRA SANGEETH VISWA VIDYALAY, CHATTISGARH</h5>
                                                                <p>MFA</p>
                                                            </div>
                                                        </div><!--end time-item-->
                                                        <div class="time-item">
                                                            <div class="item-info">
                                                                <div class="font-14">2007</div>
                                                                <h5 class="my-1 text-dark">BHARATHIDASAN UNIVERSITY, TRICHI, T.N.</h5>
                                                                <p>Ph  .D  RESEARCH SCHOLAR</p>
                                                            </div>
                                                        </div><!--end time-item-->
                                                        <div class="time-item  mt-3">
                                                            <div class="item-info">
                                                                <div class="font-14">2008 - 2010</div>
                                                                <h5 class="my-1 text-dark">ANNAMALAI  UNIVERSITY</h5>
                                                                <p>PG DIPLOMA - YOGA</p>
                                                            </div>
                                                        </div><!--end time-item--> 
                                                        <div class="time-item mt-3">
                                                            
                                                            <div class="item-info">
                                                                <div class="font-14">2014-2015</div>
                                                                <h5 class="my-1 text-dark">ANNAMALAI  UNIVERSITY</h5>
                                                                <p>M .Sc  YOGA AND NATUROPATHY</p>
                                                            </div>
                                                        </div><!--end time-item--> 
                                                        
                                                    </div><!--end timeline-->
                                                </div><!--end col-->
                                                <div class="col-sm-6 col-print-6">
                                                    <div class="resume-icon">
                                                        <i class="nc-icon nc-single-copy-04"></i>
                                                        <h5 class="mt-n2">Experience</h5>
                                                    </div><!--end resume-icon-->   
                                                    <div class="timeline">
                                                        <div class="time-item">
                                                            <div class="item-info">
                                                                <div class="font-14">9 years</div>
                                                                <h5 class="my-1 text-dark">Assistant Professor</h5>
                                                                <p>Nava Sadhana Kalakendra- Banaras UP</p>
                                                            </div>
                                                        </div><!--end time-item-->   
                                                        <div class="time-item mt-3">
                                                            <div class="item-info">
                                                                <div class="font-14">2000</div>
                                                                <h5 class="my-1 text-dark">Lecture</h5>
                                                                <p>WORLD EXPO Hannover Germany </p>
                                                            </div>
                                                        </div><!--end time-item-->   
                                                        <div class="time-item  mt-3">
                                                            <div class="item-info">
                                                                <div class="font-14">6 years</div>
                                                                <h5 class="my-1 text-dark">Facilitator </h5>
                                                                <p>Yoga & Psychology in Sadbhavana </p>
                                                            </div>
                                                        </div><!--end time-item-->  
                                                        <div class="time-item  mt-3">
                                                            <div class="item-info">
                                                                <div class="font-14">6 years</div>
                                                                <h5 class="my-1 text-dark">Trainer   </h5>
                                                                <p>NRI  -TEACHERS in CRETT</p>
                                                            </div>
                                                        </div><!--end time-item-->  
                                                        <div class="time-item  mt-3">
                                                            <div class="item-info">
                                                                <div class="font-14">6 years</div>
                                                                <h5 class="my-1 text-dark">Facilitator </h5>
                                                                <p>Yoga & Psychology in Sadbhavana </p>
                                                            </div>
                                                        </div><!--end time-item-->   
                                                    </div><!--end timeline-->   
                                                </div><!--end col-->   
                                            </div><!--end row-->   
                                        </div><!--end col-->
                                        <div class="col-sm-5 col-print-5 align-self-center">
                                            <div class="skills mt-4">
                                                <div class="skill-box"> 
                                                    <h4 class="skill-title">Dance &amp;  </h4> 
                                                    <div class="progress-line"> 
                                                        <span data-percent="78" style="width: 100%;">
                                                            <span class="percent-tooltip">78%</span>
                                                        </span> 
                                                    </div>
                                                </div><!--end skill-box-->
                                                <div class="skill-box"> 
                                                    <h4 class="skill-title">Yoga</h4> 
                                                    <div class="progress-line"> 
                                                        <span data-percent="90" style="width: 98%;">
                                                            <span class="percent-tooltip">90%</span>
                                                        </span> 
                                                    </div>
                                                </div><!--end skill-box-->
                                                <div class="skill-box"> 
                                                    <h4 class="skill-title">Training</h4> 
                                                    <div class="progress-line"> 
                                                        <span data-percent="80" style="width: 80%;">
                                                            <span class="percent-tooltip">80%</span>
                                                        </span> 
                                                    </div>
                                                </div><!--end skill-box-->
                                                
                                            </div><!--end skill-->
                                        </div><!--end col-->
                                                               
                                    </div><!--end row-->
                                </div><!--end container-->
                            </section><!--end section-->
                
                            <section class="bg-funfact section-md">
                                <div class="container">
                                    <div class="row justify-content-center" id="counter">
                                        <div class="col-sm-4 digit-counter">
                                            <div class="media">
                                                <i class="nc-icon nc-paper  text-warning mr-2 align-self-center"></i>
                                                <div class="media-body align-self-center">
                                                    <h3 class="mb-1"><span class="counter-value" data-count="100">100+</span>+</h3>  
                                                    <h5 class="counter-name mt-0">Programs</h5>
                                                </div>
                                            </div><!--end media-->   
                                        </div><!--end col-->
                                        <div class="col-sm-4 digit-counter">
                                            <div class="media">
                                                <i class="nc-icon nc-glasses-2 text-success mr-2 align-self-center"></i>
                                                <div class="media-body align-self-center">
                                                    <h3 class="mb-1"><span class="counter-value" data-count="16">500+</span>k</h3>
                                                    <h5 class="counter-name mt-0">Happy Clients</h5>
                                                </div>
                                            </div> <!--end media-->   
                                        </div><!--end col--> 
                                        <div class="col-sm-4 digit-counter">
                                            <div class="media">
                                                <i class="nc-icon nc-single-copy-04 text-pink mr-2 align-self-center"></i>
                                                <div class="media-body align-self-center">
                                                    <h3 class="mb-1"><span class="counter-value" data-count="21">1000+</span></h3>
                                                    <h5 class="counter-name mt-0">lectures</h5>
                                                </div>
                                            </div><!--end media-->    
                                        </div> <!--end col-->           
                                    </div><!--end row-->
                                </div><!--end container-->
                            </section><!--end section-->

                
                            <section class="section-md contact-form">
                                <div class="container">                    
                                    <div class="row">
                                        <div class="col-12 mb-3">
                                            <h4 class="header-title mb-3">Contact Me</h4>
                                        </div> <!--end col-->
                                        <div class="col-sm-4">
                                            <div class="contact-info">
                                                <div class="icon">
                                                    <i class='nc-icon nc-mobile'></i>
                                                </div>                    
                                                <div class="content">
                                                    <h5>Free Call To Me:</h5>
                                                    <span>+91 9747791871</span>
                                                </div>
                                            </div><!--end contact-info-->
                                        
                                        </div><!--end col--> 
                                        <div class="col-sm-4">
                                            
                                            <div class="contact-info">
                                                <div class="icon">
                                                    <i class='nc-icon nc-email-85'></i>
                                                </div>                    
                                                <div class="content">
                                                    <h5>Mail Me:</h5>
                                                    <span> mathew1msk@gmail.com </span>
                                                </div>
                                            </div><!--end contact-info-->
                
                                        </div>
                                        <div class="col-sm-4">
                                            
                                            <div class="contact-info">
                                                <div class="icon">
                                                    <i class='nc-icon nc-pin-3'></i>
                                                </div>                    
                                                <div class="content">
                                                    <h5>Find Me:</h5>
                                                    <span>Kunnamangalam, Kozhikode, Kerala  - 673571</span>
                                                </div>
                                            </div><!--end contact-info-->
                                        </div>
                                        
                                    </div><!--end row-->
                                </div><!--end container-->
                            </section><!--end section-->
                            
                            <section class="section-md thanks-text">
                                <div class="container">                    
                                    <div class="row">
                                        <div class="col-12">
                                            <h3 class="text-center">Thank you !</h3>
                                        </div> <!--end col-->
                                    </div><!--end row-->
                                </div><!--end container-->
                            </section><!--end section-->

                        </div><!--end profile-box-right --> 
                    </div> <!-- end col -->                           
                </div><!-- end row -->
            </div><!-- container -->
        </div><!--end main-wraper-->
    </div> 