<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <!-- <h2>Basic Componentsadfdafa</h2> -->
        </div>
        <div class="form-group row">
            <div class="col-md-4 mr-auto ml-auto">
                <div class="card page-carousel" >
                <img src="assets/img/antoine-barres.jpg" style="height: 400px;"> 
                </div>
                
            </div>
            <div class="col-md-6 mr-auto ml-auto">
                <div class="card page-carousel" style="height: 400px;">
               <h3 style="padding-left:30px ;"> <b>Classical Dance (Bharath Natyam)</b></h3>
               <h4 style="padding-left:30px ;"><p>asddfsdfhsdkfhsdhbfhksdbfhsbdhfbdhsbdhbsdhvbhjsdbvhjsbdjvshdbvjsbvjkavkjvsjbavsjkvajsvjgavcgjavcgj
                   afsdfsdsdfsdfsdfsdfsdfsdfsdfsdfsdf4sfsd4
                   sdfsdfsdfdfdfdfsdf
                   asdasdasdasdasdasfsdvfvfvsfsadasdasdasdasd
                   asdasdasdasdasdasdasdasdasdasdasdasd
                   asdasdasdasdasdasdasdasdasdasd
                   asdasdasdsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasdasdasdasda....</h4>
                   <div style="padding-left:30px">
                    <a [routerLink]="['/Register']"> <button type="button" class="btn btn-outline-dark btn-sm" style="width: 250px;"><p style="color: black;"> Register For More <i class="nc-icon nc-simple-delete"></i><i class="nc-icon nc-minimal-right">&nbsp;</i></p></button></a>
                    </div>
                </div> 
            </div>
        </div>
        <br>
        <br>
        <div class="form-group row">
            
            <div class="col-md-6 mr-auto ml-auto">
                <div class="card page-carousel" style="height: 400px;">
               <h3 style="padding-left:30px ;"> <b>Classical Dance (Bharath Natyam)</b></h3>
               <h4 style="padding-left:30px ;"><p>asddfsdfhsdkfhsdhbfhksdbfhsbdhfbdhsbdhbsdhvbhjsdbvhjsbdjvshdbvjsbvjkavkjvsjbavsjkvajsvjgavcgjavcgj
                   afsdfsdsdfsdfsdfsdfsdfsdfsdfsdfsdf4sfsd4
                   sdfsdfsdfdfdfdfsdf
                   asdasdasdasdasdasfsdvfvfvsfsadasdasdasdasd
                   asdasdasdasdasdasdasdasdasdasdasdasd
                   asdasdasdasdasdasdasdasdasdasd
                   asdasdasdsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasdasdasdasda....</h4>
                   <div style="padding-left:30px">
                    <a [routerLink]="['/Register']"> <button type="button" class="btn btn-outline-dark btn-sm" style="width: 250px;"><p style="color: black;"> Register For More <i class="nc-icon nc-simple-delete"></i><i class="nc-icon nc-minimal-right">&nbsp;</i></p></button></a>
                    </div>
                </div> 
            </div>
            <div class="col-md-4 mr-auto ml-auto">
                <div class="card page-carousel" >
                <img src="assets/img/antoine-barres.jpg" style="height: 400px;"> 
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group row">
            <div class="col-md-4 mr-auto ml-auto">
                <div class="card page-carousel" >
                <img src="assets/img/antoine-barres.jpg" style="height: 400px;"> 
                </div>
                
            </div>
            <div class="col-md-6 mr-auto ml-auto">
                <div class="card page-carousel" style="height: 400px;">
               <h3 style="padding-left:30px ;"> <b>Classical Dance (Bharath Natyam)</b></h3>
               <h4 style="padding-left:30px ;"><p>asddfsdfhsdkfhsdhbfhksdbfhsbdhfbdhsbdhbsdhvbhjsdbvhjsbdjvshdbvjsbvjkavkjvsjbavsjkvajsvjgavcgjavcgj
                   afsdfsdsdfsdfsdfsdfsdfsdfsdfsdfsdf4sfsd4
                   sdfsdfsdfdfdfdfsdf
                   asdasdasdasdasdasfsdvfvfvsfsadasdasdasdasd
                   asdasdasdasdasdasdasdasdasdasdasdasd
                   asdasdasdasdasdasdasdasdasdasd
                   asdasdasdsaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaasdasdasdasda....</h4>
                   <div style="padding-left:30px">
                    <a [routerLink]="['/Register']"> <button type="button" class="btn btn-outline-dark btn-sm" style="width: 250px;"><p style="color: black;"> Register For More <i class="nc-icon nc-simple-delete"></i><i class="nc-icon nc-minimal-right">&nbsp;</i></p></button></a>
                    </div>
                </div> 
            </div>
        </div>
        <br>
        <br>

        <!-- gallery setup strt here -->
        

        

<div class="section" id="carousel">
    <div class="container">
                            <div id="gallery">
                                <div class="tim-title">
                                    <h3>Gallery</h3>
                                </div>
                                
                                <!-- first line gallery start -->
                                <div class="form-group row">
                                    <div class="col-md-10 mr-auto ml-auto" style="padding-left: 10%;">
                                        <div class="card page-carousel">
                                        
                                            <ngb-carousel>
                                                <ng-template ngbSlide *ngFor="let dat of data;let i =index">
                                                    <a> <img src={{data[i].Dir}} alt="Random first slide" style="height: 600px;width: 100%;"></a>
                                                    <div class="carousel-caption">
                                                        <p>Indian Classic Gist</p>
                                                    </div>
                                                </ng-template>
                                            </ngb-carousel>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                                <!--   first line end -->
                               
                                
                                <!-- forth line end -->
                            </div>
            
    </div>
</div>

        <!-- gallery setup end here -->

<!-- blog post starts here -->


        <!-- gallery setup strt here -->
        

        

        <div class="section" id="carousel">
            <div class="container" >
                                    <div id="gallery">
                                        <div class="tim-title">
                                            <h3>Latest Resouces</h3>
                                        </div>
                                        
                                        <!-- Blogs start -->
                                        <div class="form-group row"  > 
                                            <div class="col-md-3 mr-auto ml-auto" *ngFor="let item of Blogs;" style="background-color:#C0C0C0;padding-left:20px;padding-top: 20px;"  >
                                                <div class="card page-carousel" >
                                                    <img src={{item.img1}} alt="yoga img" style="height: 200px;">
                                                    <div style="padding-left:20px;">
                                                    <h3 style="padding-left:20;">{{item.Title}}   <button type="button" class="btn btn-danger btn-just-icon btn-sm"><i class="fa fa-heart"></i></button></h3>
                                                    <p>{{getShort(item.Sub1Content)}}</p>
                                                        
                                                        <a [routerLink]="['/Blogs']"> <button type="button" class="btn btn-outline-dark btn-sm"><p style="color: black;"> View Blogs <i class="nc-icon nc-simple-delete"></i><i class="nc-icon nc-minimal-right"></i></p></button></a>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                 
            </div>
        </div>

<!-- blog post ends here -->

<!-- googel meet start here -->



<div class="section" id="carousel">
    <div class="container" >
                            <div id="gallery">
                                <div class="tim-title">
                                    <h3>We are here for you , lets Meet on Google</h3>
                                </div>
                                
                                <!-- first line gallery start -->
                                <div class="form-group row" >
                                    <div class="col-md-3 mr-auto ml-auto">
                                        
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control" placeholder="Your Name" id="Name">
                                            <br>
                                            <label>Google meet ID</label>
                                            <input type="text" class="form-control" placeholder="Google meet ID" id="meet"> 
                                            <br>
                                            <button type="button" class="btn btn-primary" (click) = "sendData()">Send Request</button> 
                                        </div>
                                    </div>
                                    <div class="col-md-3 mr-auto ml-auto">
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <img src="assets/img/meet.jpg" style="width: 300px;height: 150px;">
                                    </div>


                                    
                                   
                                    
                                    
                                </div>
                            </div>
         
    </div>
</div>

<!-- google meet end here -->




















    </div>
</div>
