<div class="wrapper" id="wrapper"  >
    <div >
                        <div class="page-header section-dark" style="background-image: url({{data.img1}})">
                            <div class="filter"></div>
                            <div class="content-center">
                                <div class="container">
                                    <div class="title-brand">
                                        <div class="angular-logo">
                                            <!-- <img src="assets/img/angular2-logo.png" alt=""> -->
                                            <i class="nc-icon nc-atom-"></i>
                                        </div>
                                        <h1 class="presentation-title">{{data.Title}}</h1>
                                        
                                    </div>

                                    <h2 class="presentation-subtitle text-center"></h2>
                                </div>
                            </div>
                            
                        </div>
                        
                    <div class="section" id="carousel">
                        <div class="container" >
                                                <div id="title">
                                                    <div class="tim-title">
                                                        <h3>{{data.SubTitle1}}</h3>
                                                    </div>
                                                </div>
                                                <div id="paragragh">
                                                    <div class="tim-title" id="para">
                                                        <h5>{{data.Sub1Content}}</h5>
                                                    </div>
                                                </div>
                                                <img src="{{data.img2}}" style="width: 100%;height: 500px;">
                                                <div id="title">
                                                    <div class="tim-title">
                                                        <h3>{{data.SubTitle2}}</h3>
                                                    </div>
                                                </div>
                                                
                                                <div id="paragragh">
                                                    <div class="tim-title" id="para">
                                                        <h5>{{data.Sub2Content}}</h5>
                                                    </div>
                                                </div>
                                                <img src="{{data.img3}}" style="width: 100%;height: 500px;">
                                                <div id="title">
                                                    <div class="tim-title">
                                                        <h3>{{data.SubTitle3}}</h3>
                                                    </div>
                                                </div>
                                                
                                                <div id="paragragh">
                                                    <div class="tim-title" id="para">
                                                        <h5>{{data.Sub3Content}}</h5>
                                                    </div>
                                                </div>
                                                
                                                 <iframe  width="100%"  height="500px" [src]="VideoSanitizer(data.youtubeLink)" frameborder="0" allowfullscreen></iframe>
                                                    
                                                
                                                
                                                <div class="col text-center" routerLinkActive="active">
                                                    <a [routerLink]="['/Blogs']" class="btn btn-outline btn-round btn-lg">Back to Blogs</a>
                                                </div>
                        </div>
                    </div>
        </div>
   
</div>